html{
	margin: 0;
	paddin : 0;
}

body{
	background-image: url("images/fond.jpeg");
	background-repeat: repeat-no;
	background-attachment: fixed;
	background-size:cover;
	padding:10%;
	
}

.body{
	padding: 1%; 
	border:solid;	
	background-color: #ffffff;
	border-radius:50px;
	
}



/*Header + Contacts*/
#id{
	paddin:5%;
diplay:block; 
    
}

#id img{
	 margin-left: auto;
    margin-right: auto;
    width:20%;
    display: block;
}

.contact{
	
font-size: 1.2em;
font-weight: 800;
margin:2%;
}

.contact span{
	margin-right:3%;	
	
}


/*Introduce sentence / Search for a job*/
.about{
	font-size: 1em;	
	margin-right:30%;
	padding: 1%;
	/*border: 1px solid black;*/
}


aside{
	width: 95%;	
	margin-left:auto;
	margin-right:auto;
	clear:both;
	margin-bottom:5%;
	
	padding: 1%;
	
	
}

.type_value{
	padding: 3%;
	display: flex;
    flex-direction: row;
}

.type_value .year_background{
	width: 20%;	
	 
	/*border: 1px solid black;*/
}

.type_value .year{
	font-weight: 600;
	color: #000000;
	
}

.type_value .education{
	color: #000000;
	width: 80%;	
	
	padding: 5%; 
	
    background: #e8e8e8;
	/*border: 1px solid black;*/
}

.strong{
font-weight: 900;		
}

/*Company : Place / Name / Year*/
.company{
	padding: 2%; 
	background: #e8e8e8;
	margin-bottom: 2%;
}
.place{
	font-size: 1.2em;
	font-weight: 800;
	text-align:left;		
}
.year{
	color:#7d7d7d;
}

#thales{
	width: 30%;
	height: 25%;
	float: right;
}

.rc{
		clear: both;	
}

.job{
	margin-left: 5%;
	margin-bottom: 3%;
	
}

.assignment{
	font-weight: 900;
	
}
.description{
	font-style: oblique;
	
}

ul h3
{
	font-size: 1.2em;
    font-weight: 600;
}

.bars {
	width: 95%;
	float: left;
	text-align: left;
	
}
.bars .skills {
	display: flex;
   
}
.bars li {
	position: relative;
  	background: #ccc;
  	height: 20px;
  	border-radius: 3px;
  	margin-top: 10%;
}
.bars li em {
	font: 15px 'opensans-bold', sans-serif;
   color: #000000;
	text-transform: uppercase;
   letter-spacing: 2px;
	font-weight: 400;
   position: relative;
	top: -105%;

}
.bar-expand {
   position: absolute;
   background: #000054;
   display: inline-block;
   height: 100%;
   line-height:100%;
   border-radius: 3px 0 0 3px;
   margin-bottom: 10%;
   
}

.C__ {
  	width: 80%;
}

.C {
  	width: 80%;
}
.JAVA {
  	width: 30%;
}
.MATLAB {
  	width: 70%;
}
.Javascript {
  	width: 30%;
}
.HTML {
  	width: 60%;
}
.PHP {
  	width: 25%;
}
.SQL {
  	width: 25%;
}
.Linux {
  	width: 75%;
}


.language_id{
	font-size: 1.2em;
	font-weight: 600;
	margin-right:15%;    
}

.language_value{
	font-style: oblique;
}


.interest{
font-size: 1.2em;
font-weight: 600;
}
.sport{
	
	display: flex;	
}
.sport p{
	margin:2%;
	color: #4d4d4d;
	font-weight: 600;
}

#strava{
	width: 20%;
	height: 15%;
	float: right;
	paddin-bottom: 5%;	
}



/*Title of each category*/
.rubric{
	color: #22307c;
  font-size: 1.5em;
  font-weight: bold;
 /* text-transform: uppercase;	*/	
}



@media screen and (max-width: 700px){
	 body{
	 padding:1%;
	 }
	 
	 aside.bars{
	 padding:2%;
	 }
	 	 
	 #id{
	diplay:block; 
	margin-top:10%;
	text-align: center;	    
	}	
	
	il.type_value{
	padding:0%;
	}
	
	.type_value div{
	width:90%
	}
	.type_value .education{
	padding: 2%;
	margin-bottom:10px;
	}
	
	.company{
	display:block;	
	}
	
	#thales{
	clear:both;
	margin-left:auto;
	margin-right:auto;
	width:40%;
	}
	
	
	#id img{
    width:25%;
	}
	
	ul{
	padding-left: 0;
	list-style-type : none;
		}
}




