body {
	background-image: url("images/fond.jpeg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size:cover;
	  
	
}

.main{
	margin-left: auto;
	margin-right: auto;	
	margin-top: 10%;
	
	text-align:center;
	letter-spacing: 0.5em;
	font-family:  Futura,Trebuchet MS,Arial,sans-serif;
}


.main h1{
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1em;
	
	color:  white;
	
	/*target="_blank*/
	
}

.main h2{
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 1em;
	
	color:  white;
	
}





footer{
	margin-left:60%;
	margin-top: 20%;
}

.clear{
	width:10%;
}

#place_icons{	
	display: flex;
    justify-content: center; 
    
		
}


.icons{

	animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari et Chrome */
    -o-animation: fadein 4s; /* Opera */
    
	 opacity: 0.7;
	 filter: alpha(opacity=40); /* For IE8 and earlier */
	 
}

.icons:hover,
.icons:focus{
	animation: fadein 1s;
    -moz-animation: fadein 1s; /* Firefox */
    -webkit-animation: fadein 1s; /* Safari et Chrome */
    -o-animation: fadein 1s; /* Opera */
    
    opacity: 1;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}











