html{

}

body{
	background-image: url("images/fond.jpeg");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	min-height: 100%;
	
	
	padding-top:1%;
	padding-bottom:5%;
	padding-left:15%;
	padding-right:15%;
	
	
}

.body{
	clear:both;
	padding: 1%; 
	border:solid;	
	background-color: #ffffff;
	border-radius:50px;	
	opacity:0.9;
}



/*Header + Contacts*/
#id{
	paddin:5%; 
	font-weight: 600;
	letter-spacing: 0.4em;
	margin-left: auto;
    margin-right: auto;
    width:70%;
    text-align: center;
	
    
}

#id img{
	margin-left: auto;
    margin-right: auto;
    width:20%;
    display: block;
}

.contact{
	
font-size: 1em;
font-weight: 800;
margin:2%;
}

.contact span{
	margin-right:3%;	
	
}



/* About*/
.cont{
	padding:1%;
	display: flex;	
}


/*About : h2 + text*/
.bloc{
	  -webkit-hyphens: auto;
	  -moz-hyphens: auto;
	  -ms-hyphens: auto;
	  -o-hyphens: auto;
	  hyphens: auto;
	font-size: 1.2em;
}
.bloc h3{
	font-size: 1.3em;
	font-weight: 600;
	border-bottom: solid #bfbfbf 0.1px;
	padding-bottom:7px;
	
	
}

.bloc p{
	width:95%;
}

/*About : coord*/
.coord{
	float:right;
	width:30%;	
	
	font-size: 1em;

}
.coord ul{
	padding-left: 0;
	list-style-type : none;
}



aside{
	width: 95%;	
	margin-left:auto;
	margin-right:auto;
	clear:both;
	border-top: solid #bfbfbf 0.1px;
	padding-top:7px;
	
	padding: 1%;
	
	
}

.type_value{
	padding: 3%;
	display: flex;
    flex-direction: row;
}

.type_value .year_background{
	width: 20%;	
	 
	/*border: 1px solid black;*/
}

.type_value .year{
	font-weight: 600;
	color: #000000;
	
}

.type_value .education{
	color: #000000;
	width: 80%;	
	
	padding: 5%; 
	
    background: #e8e8e8;
	/*border: 1px solid black;*/
}

.strong{
font-weight: 900;		
}

/*Company : Place / Name / Year*/
.company{
	padding: 2%; 
	background: #e8e8e8;
	margin-bottom: 2%;
}
.place{
	font-size: 1.2em;
	font-weight: 800;
	text-align:left;		
}
.year{
	color:#7d7d7d;
}

#thales{
	width: 30%;
	height: 25%;
	float: right;
}

.rc{
		clear: both;	
}

.job{
	margin-left: 5%;
	margin-bottom: 3%;
	
}

.assignment{
	font-weight: 900;
	
}
.description{
	font-style: oblique;
	
}

ul h3
{
	font-size: 1.2em;
    font-weight: 600;
}

.bars {
	width: 95%;
	
	text-align: left;
	
}
.bars .skills {
	display: flex;
   
}
.bars li {
	position: relative;
  	background: #ccc;
  	height: 20px;
  	border-radius: 3px;
  	margin-top: 5%;
  	width:70%;
}
.bars li em {
	font: 15px 'opensans-bold', sans-serif;
   color: #000000;
	text-transform: uppercase;
   letter-spacing: 2px;
	font-weight: 400;
   position: relative;
	top: -105%;

}
.bar-expand {
   position: absolute;
   background: #000054;
   display: inline-block;
   height: 100%;
   line-height:100%;
   border-radius: 3px 0 0 3px;
   margin-bottom: 10%;
   
}

.C__ {
  	width: 80%;
}

.C {
  	width: 80%;
}
.JAVA {
  	width: 30%;
}
.MATLAB {
  	width: 70%;
}
.Javascript {
  	width: 30%;
}
.HTML {
  	width: 60%;
}
.PHP {
  	width: 25%;
}
.SQL {
  	width: 25%;
}
.Linux {
  	width: 75%;
}


.language_id{
	font-size: 1.2em;
	font-weight: 600;
	margin-right:15%;    
}

.language_value{
	font-style: oblique;
}


.interest{
font-size: 1.2em;
font-weight: 600;
}
.sport{
	
	display: flex;	
}
.sport p{
	margin:2%;
	color: #4d4d4d;
	font-weight: 600;
}

#strava{
	width: 20%;
	height: 15%;
	float: right;
	paddin-bottom: 5%;	
}



/*Title of each category*/
.rubric{
	color: #22307c;
  font-size: 1.5em;
  font-weight: bold;
 /* text-transform: uppercase;	*/	
}





/********************************/
.projectliste{
	
	display:bloc;
}

.projectliste{
	padding-left:3%;
	padding-right:3%;
	padding-top:1%;
	padding-bottom:2%; 		
	background-color: #ffffff;
	opacity:0.9;
	margin-bottom:10%;
}
.projectliste ul{
		list-style-type : none;
	
}
.projectliste ul li{
	margin:1%;
}
.projectliste ul li a{
	text-decoration: none;
	color:#123456;
	
}

.project{
	clear:both;
	padding: 5%; 
	background-color: #ffffff;
	border-radius:50px;	
	opacity:0.9;
	margin-bottom:5%;	
}

.project p{
	width:60%;
	margin-left: auto;
    margin-right: auto;
}

.major{
	color:#123456;
	font-style: oblique;
	font-size:0.8em;
	font-weight:500;
	
}

.subsection{
	display:flex;
	justify-content:space-between;
}
.subsection h3{
	padding:2%;
	border-radius:50px;
	background-color:#bfbfbf;
	color:#fff;
}

.years{

	color:#7f7f7f;
	font-style: oblique;
	font-size:1em;
	font-weight:500;	
}

@media screen and (max-width: 1000px){
	 body{
	 padding:1%;
	 }
	 
	 aside.bars{
	 padding:2%;
	 }
	 .bars li {
	 width:80%;
	 margin-top:25px;}
	 
	 	 
	 #id{
	diplay:block; 
	margin-top:10%;
	text-align: center;	    
	}	
	
	il.type_value{
	padding:0%;
	}
	
	.type_value div{
	width:90%
	}
	.type_value .education{
	padding: 2%;
	margin-bottom:10px;
	}
	
	.company{
	display:block;	
	}
	
	#thales{
	clear:both;
	margin-left:auto;
	margin-right:auto;
	width:40%;
	}
	
	
	#id img{
    width:50%;
	}
	
	ul{
	padding-left: 0;
	list-style-type : none;
		}
		
		
	/*About*/
	.cont{
	display: block;
	clear:both;
	}
	.coord{
	float:none;
	width:30%;	
	}
	.bloc p{
	font-size: 0.9em;
	}
	.bloc h3{
	font-size: 1em;
	}
	
	.coord{
	margin-top:5%;
	width:100%;}
	.bloc{
	width:100%;
	}
	
	
	/*projects.html*/
	.project p{
	width:90%;}
	
}




